@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/themes";

.container {
  max-width: $container-normal;
}

.title {
  font-size: $font-size--huge;
  text-align: center;
  margin-bottom: 1.5em;

  @include respond(tablet) {
    font-size: $font-size--gigantic;
  }
}

.tags {
  display: flex;
  justify-content: center;
  margin: 1.5em 0 3.5em 0;
}

.intro {
  text-align: center;
  font-style: italic;
}

.image {
  width: 100%;
  height: auto;
}


.section {
  margin: 3em 0;

  h2 {
    font-size: $font-size--x-large;
  }

  h5 {
    @include theme() {
      opacity: .7;
    }
  }

  a {
    @include theme() {
      color: get('link-blue');
    }
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }


}

.tools {
  ul {
    list-style: none;
    margin: 1.5em 0;
  }
}
