@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/themes';

.sidedrawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  max-width: 25em;
  box-shadow: 1px 0px 7px rgba(black, .5);
  transform: translateX(-100%);
  transition: transform 0.35s cubic-bezier(.97,.13,.45,1.02);
  z-index: 200;

  @include theme() {
    background-color: get('bg-color');
  }
}

.open {
  transform: translateX(0);
}

.nav {
  padding: 8em 2em 8em 2em;
  height: 100%;

  @include respond(mobile) {
    padding: 8em 2em 8em 6em;
  }
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2vmax;
  padding-left: 0;

  a {
    font-size: $font-size--x-large;
    text-decoration: none;
    font-weight: bold;
    position: relative;

    @include theme() {
      color: get('link-blue');
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;

      @include theme() {
        background-color: get('text-color');
      }
    }

    &:hover {
      @include theme() {
        color: get('text-color');
      }

      &::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }
}

.locale {
  display: flex;
  flex-direction: column;
  font-weight: bold;

  div {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  &__lang {
    margin-bottom: 0;
  }

  p {
    font-size: $font-size--x-large;
    margin-bottom: 0;

    @include theme() {
      color: get('text-color');
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 1.25em;
    list-style: none;
    margin-top: 0;
    padding-left: 0;

    a {
      font-size: $font-size--x-large;

      @include theme() {
        color: get('link-blue');
      }

      &:hover {
        @include theme() {
          color: get('text-color');
          text-decoration: none;
        }
      }
    }
  }
}
