@import '../../styles/mixins';
@import '../../styles/themes';

.button {
  display: flex;
  width: 1.65em;
  height: 1.65em;
  background-color: transparent;
  border: none;
  padding: 0;

  @include respond(mobile) {
    width: 1.85em;
    height: 1.85em;
  }

  svg {
    width: 100%;
    height: 100%;
    transition: display 1s ease-out;

    @include theme() {
      filter: get('filter-yellow');
    }
  }
}

.moon,
.sun {
  svg:last-child {
    display: none;
  }

  &:hover {
    svg:first-child {
      display: none;
    }

    svg:last-child {
      display: block;
    }
  }
}
