@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/themes';

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  
  @include respond(mobile) {
    align-items: center;
  }

  p {
    font-size: $font-size--small;
  }

  a {
    color: $primary-color;
    // @include theme() {
    //   color: theme-get('text-color');        
    // }
  }

 

  // svg {
  //   @include theme() {
  //     filter: theme-get('text-color');        
  //   }
  // }

  &__icons {
    display: flex;
    gap: 1.5em;
    margin-top: .5em;

    a {
      width: 1.5em;
      height: auto;

      
    }

    svg {
      width: 100%;
      height: 100%;
      transition: filter .4s ease-in-out;
      // filter: $color-filter-light;

      
        @include theme() {
          filter: theme-get('filter-color');
          
        }
      
      
      &:hover {
        filter: none;
      }    
    }

    
  }
}


@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}
