@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/themes";

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // justify-content: space-between;
  gap: 2.2vmax;
  padding: 0 1em;
  list-style: none;

  @include respond(tablet) {
    padding: 0 2em;
  }
}
