@import './variables';

$themes: (
  dark: (
    'text-color': $color-text-dark,
    'link-color': $color-link-dark,
    'link-blue': $color-link-blue-dark,
    'bg-color': $color-bg-dark,
    'filter-color': $color-filter-dark,
    'filter-hover-color': $color-filter-hover-dark
  ),
  light: (
    'text-color': $color-text-light,
    'link-color': $color-link-light,
    'link-blue': $color-link-blue-light,
    'bg-color': $color-bg-light,
    'filter-color': $color-filter-light,
    'filter-hover-color': $color-filter-hover-light
  )
);

@mixin theme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}

@function theme-get($key) {
  @return map-get($theme-map, $key);
}
