@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../public/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../public/fonts/Poppins-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../public/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../public/fonts/Poppins-BoldItalic.ttf") format("truetype");
}
