/* Colors */
$primary-color: #64ff00;
$secondary-color: #001329;

/* Light Theme Colors */
$color-bg-light: #f2f2f2;
$color-text-light: black;
$color-filter-light: brightness(0) saturate(100%) invert(24%) sepia(96%) saturate(1019%) hue-rotate(162deg) brightness(95%) contrast(102%);

/* Dark Theme Colors */
$color-bg-dark: #001329;
$color-text-dark: white;
$color-filter-dark: brightness(0) saturate(100%) invert(76%) sepia(43%) saturate(3443%) hue-rotate(49deg) brightness(111%) contrast(110%);



/* Typography */
$font-size--small: clamp(1em, 1.5vw, 1.125em);
$font-size--medium: clamp(1.125em, 2vw, 1.25em);
$font-size--large: clamp(1.25em, 3vw, 1.5625em);
$font-size--x-large: clamp(1.5625em, 4vw, 2em);
$font-size--huge: clamp(2em, 5vw, 2.5em);
$font-size--gigantic: clamp(2.5em, 6vw, 3em);
$font-size--colossal: clamp(3em, 7vw, 3.75em);


$line-height--tiny: 1;
$line-height--small: 1.15;
$line-height--medium: 1.2;
$line-height--normal: 1.4;
