/* Colors */
$primary-color: #64ff00;
$secondary-color: #001329;

/* Typography */
$font-size--x-small: clamp(.875em, 1vw, .9375em);
$font-size--small: clamp(1em, 1.5vw, 1.125em);
$font-size--medium: clamp(1.125em, 2vw, 1.25em);
$font-size--large: clamp(1.25em, 3vw, 1.5625em);
$font-size--x-large: clamp(1.5625em, 4vw, 2em);
$font-size--huge: clamp(2em, 5vw, 2.5em);
$font-size--gigantic: clamp(2.5em, 6vw, 3em);
$font-size--colossal: clamp(3em, 7vw, 3.75em);

$line-height--tiny: 1;
$line-height--small: 1.15;
$line-height--medium: 1.2;
$line-height--normal: 1.5;
$line-height--large: 1.7;
