@import 'variables.scss';
@import 'typography.scss';
@import 'themes.scss';
@import 'mixins.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include globaltheme() {
    color: get('text-color');
    background: get('bg-color');
  }
}

* {
  box-sizing: border-box;
}

body {
  line-height: $line-height--normal;
}

a {
  color: inherit;
  text-decoration: underline;
}

button {
  cursor: pointer;
}

/* Typography */
h1 {
  font-size: $font-size--gigantic;
  font-weight: 700;
  line-height: $line-height--small;
  margin-top: 1vmin;
  margin-bottom: 2vmin;
}

h2 {
  font-size: $font-size--huge;
  font-weight: 700;
  line-height: $line-height--small;
  margin-top: 1vmin;
  margin-bottom: 2vmin;
}

h3 {
  font-size: $font-size--x-large;
  font-weight: 700;
  line-height: $line-height--small;
  margin-top: 1vmin;
  margin-bottom: 2vmin;
}

h4 {
  font-size: $font-size--large;
  font-weight: 700;
  line-height: $line-height--small;
  margin-top: 1vmin;
  margin-bottom: 2vmin;
}

h5 {
  font-size: $font-size--medium;
  font-weight: 700;
  line-height: $line-height--small;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

h6 {
  font-size: $font-size--small;
  font-weight: 700;
  line-height: $line-height--small;
  margin-top: 1vmin;
  margin-bottom: 0;
}

p {
  margin-top: 1.5vmin;
  margin-bottom: 1.5vmin;
  font-size: $font-size--medium;
}

ul {
  margin: 0;
  padding-left: 0;
}

figure {
  margin: 0;
}
